#content-container {
    display: flex;
    height: 100vh;
    overflow-y: auto;
}
.explain {
}

.explain {
    display: block;
    background-color: rgba(155, 155, 155, 0.3);
    backdrop-filter: blur(1px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    padding:40px;

}
#entrance{
    animation: fadeIn;
    animation-duration: 1500ms;
    border-color: rgba(0,0,0,0);
    border-radius: 35px;
}
#bg {
    background-image: url(images/vain.png);
    background-position: center;
    background-size: cover;
    position: relative;
    filter: brightness(100%);
    z-index: -10;
}
.explain h1 {
    font-family: "JetBrains Mono", monospace;
    color: black;
    text-shadow: #020302 1px 0 15px;
    font-size: 2.5em;
    text-align: center;
    z-index: 10 ;
    hover: green;
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        feGaussianBlur:100%;
        position: 1000px 1000px;
        transform:translatey(0);
    }
    to {
        opacity: 1;
        feGaussianBlur: 100%;
        positiony: 100px 100px;
        transform: translatey(100);
    }
}

