#content-container {
    display: flex;
    height: 100vh;
    overflow-y: auto;
}
.explain {
    font-family: "JetBrains Mono", monospace;
    display: block;
    padding: 1px 3px;
    animation: fadeIn;
    animation-duration: 1500ms;
    align-content: center;
}

.explain {
    display: block;

}

.explain h1 {
    display: block;
    color: black;
    text-shadow: #020302 1px 0 15px;
    font-size: 2.5em;
    text-align: center;
    background-color: rgba(155, 155, 155, 0.3);
    backdrop-filter: blur(1px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    padding:30px;
    border-radius: 10px;
    background-size: clamp(1px, 1px, 1px);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        feGaussianBlur:100%;
        position: 1000px 1000px;
        transform:translatey(0);
    }
    to {
        opacity: 1;
        feGaussianBlur: 100%;
        positiony: 100px 100px;
        transform: translatey(100);
    }
}

